html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #1a84e6 0%, #bd15df 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #e3dfeb;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #030505;
  cursor: default;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: linear-gradient(160deg, #ffffff 0%, #170807 100%);
  font-size: 33px;
}

.deck .card.disabled {
  pointer-events: none;
}

/*
 * Styles for the modal
 */
.modal {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.438);
  align-items:
}

.modal-body {
  width: 400px;
  top: 50%;
  left: 50%;
  position: relative;
  background: #ffffff;
  transform: translate(-50%, -70%);
  border: solid rgb(150, 52, 230);
  border-radius: 100px/30px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 01.5rem;
  border-bottom: 1px solid rgb(150, 52, 230);
}

.modal-close {
  font-weight: bold;
  font-size: 2rem;
}

.modal-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgb(150, 52, 230);
  ;
}

.modal-bttn {
  height: 60px;
  width: 50x;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 10px;
}

.hide {
  display: none;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/*
 * Modal Button
 */
.modal-bttn {
  color: rgb(150, 52, 230);
  cursor: pointer;
  border-radius: 200px/400px;
}

.modal-bttn:hover,
.modal-bttn:focus {
  color: rgb(230, 52, 52);

  cursor: pointer;
}

/*
 * Responsiveness
*/
@media only screen and (max-width :600px) {
  .deck {
    width: 95%;
    padding: 15px;
    min-height: 100vw;
  }

  .deck .card {
    width: 20vw;
    height: 20vw;
  }

  .score-panel {
    width: 50%;
  }
}
